@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,700;1,700&display=swap');

body{
    box-sizing: border-box;
    /* max-width: 1200px; */
    margin: 0rem auto;
}
.section1{
    background-image: url('images/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
}
.logohead{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.logohead button{
    padding: 1rem 2.5rem;
    background-color: hsl(193, 100%, 96%);
    border-radius: 2rem;
    border: none;
    overflow: hidden;
    box-shadow: 0.1rem 0.2rem 0.2rem 0.06rem hsl(192, 100%, 9%);
    font-family: 'open sans';
    font-weight: 400;
    Font-size: 18px;
}

.logohead button:hover{
    box-shadow: 0.1rem 0.1rem 0.1rem 0.03rem hsl(192, 100%, 9%);  
}

.build-comm-and-image{
    animation-name: myanime;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    padding: 3rem;
    box-sizing: border-box;
}
.build-comm{
    width: 45%;
}
.build-comm p{
    text-align: left;
    font-family: 'open sans';
    font-weight: 400;
    Font-size: 18px;
    line-height: 2rem;
}
.build-comm h1{
 margin-top: 6rem;
 text-align: left;
 font-family: 'Open sans';
 font-weight: 700;
 font-size: 2.5em;
}
.build-comm button{
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    border: none;
    overflow: hidden;
    background-color: hsl(322, 100%, 66%); 
    margin: 2rem 0rem; 
    color: white;
    font-family: 'open sans';
    font-weight: 700;
}
.build-comm button:hover{
    background-color: hsl(322, 78%, 75%);    
}

.build-comm-image{
    width: 55%;
    height: 40%;
    margin:2rem 0rem 0rem 4rem ;
    box-sizing: border-box;
}

.build-comm-image img{
width: 100%;
height: 100%;
overflow: hidden;
padding: 2rem 0rem 0rem 2rem;
box-sizing: border-box;
}
@keyframes myanime {
    from{
        margin: 1rem;
        padding: 1.5rem;
    }
    to{ 
        margin: 3rem;
        padding: 3rem;
    }
        
    }

.grow-together-with-image{
    animation-name: myanime;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    padding: 3rem;
    box-shadow: 0.1rem 0.02rem 0.3rem 0.01rem hsl(192, 100%, 9%);
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}
.grow-together{
    width:50%
}
.grow-together h2{
    margin: 6rem 2rem 2rem;
    font-family: 'poppins';
    font-weight: 600;    
}
.grow-together p{
    margin: 2rem;
    text-align: left;
    font-family: 'open sans';
    font-weight: 400;
    Font-size: 18px;
    line-height: 2rem;
}
.grow-together-image{
    width: 50%;
    margin:2rem 0rem 0rem 4rem ;
}
.grow-together-image img{
    width: 100%;
}

.flowing-conversation-with-image{
    animation-name: myanime;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    padding: 3rem;
    box-shadow: 0.1rem 0.02rem 0.3rem 0.01rem hsl(192, 100%, 9%);
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}
.flowing-conversation-image{
    width: 50%;
}
.flowing-conversation-image img{
    width: 100%;
}
.flowing-conversation{
    width:50% ;
    margin:2rem 0rem 0rem 4rem ;
}
.flowing-conversation h2{
    margin: 6rem 2rem 2rem;
    font-family: 'poppins';
    font-weight: 600;
}
.flowing-conversation p{
    margin: 2rem;
    text-align: left;
    font-family: 'open sans';
    font-weight: 400;
    Font-size: 18px;
    line-height: 2rem;
}
.your-user-with-image{
    animation-name: myanime;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    padding: 3rem;
    box-shadow: 0.1rem 0.02rem 0.3rem 0.01rem hsl(192, 100%, 9%);
    border-radius: 1rem;
    border: none;
    overflow: hidden;
}
.your-user-image{
    width: 50%;
    margin:2rem 0rem 0rem 4rem ;
}
.your-user-image img{
    width: 100%;
}
.your-user{
    width:50%;
    margin:2rem; 
}
.your-user h2{
    margin: 6rem 2rem 2rem;
    font-family: 'poppins';
    font-weight: 600;
}
.your-user p{
    margin: 2rem;
    text-align: left;
    font-family: 'open sans';
    font-weight: 400;
    Font-size: 18px;
    line-height: 2rem;
}
.readytobuild{
    color: hsl(192, 100%, 9%);
    text-align: center;
    box-shadow: 0.1rem 0.02rem 0.3rem 0.01rem hsl(192, 100%, 9%);
    width: 40%;
    padding: 3rem 1rem;
    margin: 0rem auto;
    border-radius: 0.5rem;
    position: relative;
    top: 3rem;
    left: 2rem ;
}
.readytobuild h2{
    font-family: 'poppins';
    font-weight: 600;
}
.readytobuild button{
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    border: none;
    overflow: hidden;
    background-color: hsl(322, 100%, 66%); 
    color: white;
    font-family: 'poppins';
    font-weight: 600;
}
.readytobuild button:hover{
    background-color: hsl(322, 78%, 75%);    
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color:hsl(192, 100%, 9%) ;
    color: white;
    padding: 2rem;
    margin-top: -2rem;
    box-sizing: border-box;
    font-family: 'open sans';
    font-weight: 400;
}
.huddle{
   display: flex;
   flex-direction: column;
   width: 25%; 
   line-height: 2rem;
   padding: 2rem;
}
.huddle div img{
    margin: 0 1rem 0rem 0rem;
 }
 .huddle img{
    margin: 0 1rem 0rem 0rem;
 }
.aboutus{
    display: flex;
    flex-direction: column;
    width: 25%; 
    line-height: 2rem;
    padding: 2rem;
 }
 .career{
    display: flex;
    flex-direction: column;
    width: 25%; 
    line-height: 2rem;
    padding: 2rem;
 }
 .socials{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25%; 
    line-height: 2rem;
    padding: 2rem;
 }
 .socials div a:hover {
    color: hsl(322, 100%, 66%); 
 }
 .socials div a{
    margin: 1rem;
 }
 a{
     color: white;
     text-decoration: none;
 }
 a:hover{
    text-decoration: underline;
 }
 

 @media(max-width:800px){
    .section1{
        background-image: url('images/bg-hero-mobile.svg');
        background-color: hsl(193, 100%, 96%); 
    }
    .logohead{
        display: flex;
        justify-content: space-between;
        
    }
    .logo img{
        width: 50%;
    }
    .logohead button{
        margin: 0rem;
        padding: 0.4rem 0.4rem;
        background-color: hsl(193, 100%, 96%);
        border-radius: 2rem;
        border: none;
    }
    .build-comm-and-image{
        flex-direction: column;
        max-width: 100%;
        margin: 1rem 0.5rem ;
    }
    .build-comm h1{
        margin-top: 0rem;
        text-align: center;
       }
       .build-comm p{
        margin: 1rem;
        text-align: center; 
    }
    .build-comm button{
        padding: 0.8rem 1.5rem;
        border-radius: 2rem;
        background-color: hsl(322, 100%, 66%); 
        margin: 2rem 0rem; 
        color: white;
    }
    .build-comm{
        width: 100%;
        text-align: center;
        padding: 0rem;
        margin: 0rem;
    }
    .build-comm-image{
        width: 100%;
        height: 50%;
        margin: 0rem auto;
    }
    .build-comm-image img{
        width: 100%;
        height: 100%;
    }
    .grow-together-with-image{
        padding: 0rem auto;
        flex-direction: column;
        max-width: 100%;
        margin: 3rem ;
    }
    .grow-together h2{
        margin: 0rem;
        padding: 0rem ;
       }
       .grow-together p{
        margin: 1rem; 
    }
       .grow-together{
        width: 100%;
        margin: 0.5rem;
    }
    .grow-together-image{
        width: 90%;
        height: 50%;
        margin: 0rem auto;
    }
    .grow-together-image img{
        width: 100%;
        height: 100%;
    }

    .flowing-conversation-with-image{
        padding: 0rem auto;
        flex-direction: column;
        max-width: 100%;
        margin: 3rem ;
    }
    .flowing-conversation-image{
        width: 90%;
        height: 50%;
        margin: 0rem auto;
    }
    .flowing-conversation-image img{
        width: 100%;
        height: 100%;
    }
    .flowing-conversation{
        width: 100%;
        margin: 0.5rem;
    }
    .flowing-conversation h2{
        margin: 0rem;
        padding: 0rem;
    }
    .flowing-conversation p{
        margin: 1rem;
    }


    .your-user-with-image{
        padding: 0rem auto;
        flex-direction: column;
        max-width: 100%;
        margin: 3rem ;
    }
    .your-user-image{
        width: 90%;
        height: 50%;
        margin: 0rem auto;
    }
    .your-user-image img{
        width: 100%;
        height: 100%;
    }
    .your-user{
        width: 100%;
        margin: 0.5rem; 
    }
    .your-user h2{
        margin: 0rem;
        padding: 0rem;
    }
    .your-user p{
        margin: 1rem;
    }



    .readytobuild{
        width: 60%;
        padding: 1rem 2rem;
        margin: 1rem auto;
        border-radius: 0.5rem;
        position: relative;
        left: auto;
        
    }
    .readytobuild button{
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
        border: none;
        overflow: hidden;
        background-color: hsl(322, 100%, 66%); 
        color: white;
    }

    footer{
        flex-direction: column;
        color: white;
        padding: 2rem 1rem 1rem;
        
    }
    .huddle{
        display: flex;
        width: 100%;
        padding: 0rem ;
        line-height: 2.5rem;
        margin-top: 5rem;
     }
     .huddle div img{
        margin: 0 1rem 0rem 0rem;
     }
     .huddle img{
        margin: 0 1rem 1rem 0rem;
        max-width: 350px;
     }
     .aboutus{
         display: flex;
         width: 100%;
         flex-direction: column;
         line-height: 2.5rem;
         padding: 0rem ;
      }
      .career{
         display: flex;
         width: 100%;
         flex-direction: column;
         line-height: 2rem;
         padding: 0rem;
      }
      .socials{
         display: flex;
         width: 100%;
         justify-content: space-around;
         line-height: 2rem;
         padding: 0rem;
         margin: 0rem auto;

      }
      .socials+p{
        text-align: center;
      }
      .socials div a{
        text-align: center;     
    }
 }
 @media(max-width:400px){
    .logohead{
        padding: 1rem;
    }
    .logohead button{
        padding: 1rem;
        margin: 0rem;
    }
    .grow-together-with-image{
        margin: 1rem;
        padding: 1.5rem;
    }
    .flowing-conversation-with-image{
        margin: 1rem;
        padding: 1.5rem;
    }
    .your-user-with-image{
        margin: 1rem;
        padding: 1.5rem;
    }
 }